# Ignore Google keys
key.json
*.json

# Ignore Airflow logs
logs/
*.log

# Ignore Airflow local database files
airflow.db
airflow-webserver.pid

# Ignore Python virtual environment and Python cache
__pycache__/
*.pyc
venv/
.env

#ignore github api key
.env

#ignore docker
infra/docker-compose.yaml