# Ignore airflow temp files
logs/
plugins/
config/

# Ignore locally processed data
data/raw/

# Ignore python virtual environment and cache
.venv/
venv/
__pycache__/
*.pyc

# Ignore git files
.git/
.gitignore

# Ignore keys to ensure they are not stored in the image
key-google.json